@import "tailwindcss";

:root {
  --background: #f9f9f7;
  --foreground: #0b0b0b;

  --card: #fcfcfb;
  --border: rgba(11, 11, 11, 0.1);
  --text-secondary: #52514e;
  --text-muted: #898781;
  --grid-line: #e1e0d9;
  --axis-line: #c3c2b7;

  --chart-blue: #2a78d6;
  --chart-blue-100: #cde2fb;
  --chart-blue-250: #86b6ef;
  --chart-blue-450: #2a78d6;
  --chart-blue-650: #104281;

  --chart-good: #0ca30c;
  --chart-warning: #fab219;
  --chart-critical: #d03b3b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --foreground: #ffffff;

    --card: #1a1a19;
    --border: rgba(255, 255, 255, 0.1);
    --text-secondary: #c3c2b7;
    --text-muted: #898781;
    --grid-line: #2c2c2a;
    --axis-line: #383835;

    --chart-blue: #3987e5;
    --chart-blue-100: #184f95;
    --chart-blue-250: #184f95;
    --chart-blue-450: #3987e5;
    --chart-blue-650: #86b6ef;

    --chart-good: #0ca30c;
    --chart-warning: #fab219;
    --chart-critical: #e66767;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}
